<div class="large-10 columns">
  <table class="table table-hover">
    <thead>
    <tr>
      <th width="200px">Id</th>
      <th width="230px">Name</th>
      <th width="25%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars ; let i = index">
      <td><a href="#">{{car._id}}</a></td>
      <td>{{car.name}}</td>
      <td><a class="btn btn-success" (click)="showEditForm(car)" name={{car.name}}>Edit</a>
        <a class="btn btn-danger" title="Sure???" data-toggle="confirmation"
           data-singleton="true" data-popout="true">Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>
