<md-toolbar color="primary">
  <span>Transport app</span>
  <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="appMenu">
    <md-icon>menu</md-icon>
    Menu
  </button>
  <md-menu #appMenu="mdMenu">
    <button md-menu-item>
      <md-icon>dialpad</md-icon>
      <span>Redial</span>
    </button>
    <button md-menu-item>
      <md-icon>voicemail</md-icon>
      <span>Check voicemail</span>
    </button>
    <button md-menu-item>
      <md-icon>notifications_off</md-icon>
      <span>Disable alerts</span>
    </button>
  </md-menu>
</md-toolbar>
<app-cars></app-cars>
<!--<md-card *ngFor="let data of (myData ? myData.slice(0,10) : []); let i = index">-->
  <!--<app-tom-card [info]="data"></app-tom-card>-->
<!--</md-card>-->
